//compress: false
@import "vars";
@import 'mixins';

html,
body {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1em;
}

main {
    font-weight: 400;
    color: @white;
}

h2 {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: @white;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

body {
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    color: @black;
    list-style-type: none;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

// blocks
@import 'blocks/title';
@import 'blocks/btn';
@import 'blocks/main-header';
@import 'blocks/site.less';
@import 'blocks/logo-barbershop';
@import 'blocks/pros__lists';
@import 'blocks/news_photo.less';
@import